

/* 顶部开始 */
header{
	width: 100%;
	height: 1rem;
	background: #f9bc19;
	position: fixed;
	top: 0;
	left: 0;
}
header .one{
	height: 0.7rem;
	width: 0.7rem;
/* 	background: pink; */
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.24rem;
	position: relative;
}
header .one img{
	width: 0.21rem;
	height: 0.39rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
}

header .title{
	height: 0.7rem;
	width: 1.8rem;
/* 	background: pink; */
	position: absolute;
	top:0.15rem;
	left: 2.8rem;
	font-size: 0.34rem;
	color: #fefdfd;
	text-align: center;
	line-height: 0.7rem;
	z-index: 1;
}
header .english{
	width: 3.9rem;
	height: 0.7rem;
/* 	background: orange; */
	position: absolute;
	bottom: 0rem;
	left: 2rem;
	color: #ffe686;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.7rem;
}
/* 顶部结束 */

/* 支付信息开始 */
.comment{
	width: 100%;
	height: 3.6rem;
	/* background-color: #F9AE26; */
	overflow: hidden;
	margin-top: 1rem;
}
.comment .card{
	width: 6.2rem;
	height: 1.2rem;
	background: #f9bc19;
	margin-left: 0.66rem;
	margin-top: 0.3rem;
	border-radius: 0.1rem;
	box-shadow: 0 0 0.2rem #f9bc19;
	position: relative;
}
.comment .card  img{
	width: 0.7rem;
	height: 0.6rem;
	position: absolute;
	left: 0.36rem;
	top: 0.24rem;
}
.comment .card .title{
	width: 4.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	margin-top: 0.2rem;
	margin-left: 1.4rem;
}
.comment .card .title p{
	height: 0.4rem;
	font-size: 0.28rem;
	text-align: left;
	color: white;
}
.comment .money{
	width: 6rem;
	height: 1.8rem;
	margin: 0 auto;
	margin-top: 0.25rem;
	/* background: yellow; */
	border-bottom: 0.02rem dotted #0ecf98;
}
.comment .money h1{
	width: 1rem;
	height: 0.5rem;
	font-size: 0.4rem;
	color: #f9bc19;
	float: left;
	text-align: center;
	margin-left: 1.3rem;
	margin-top: 0.44rem;
}
.comment .money .title{
	width: 100%;
	height: 1rem;
}
.comment .money h2{
	width: 3rem;
	height: 0.8rem;
	font-size: 0.8rem;
	color: #f9bc19;
	float: left;
	margin-left: 0.1rem;
}
.comment .money p{
	width: 100%;
	height: 0.8rem;
	font-size: 0.22rem;
	color: #f9bc19;
	text-align: center;
	margin-top: 0.05rem;
}
/* 支付信息结束 */

/* 输入密码开始 */
.password{
	width: 100%;
	height: 1.3rem;
}
.password ul{
	width: 4.2rem;
	height: 0.7rem;
	margin-left: 1.9rem;
	margin-top: 0.2rem;
}
.password ul li{
	width: 0.5rem;
	height: 0.7rem;
	line-height: 0.6rem;
	float: left;
	font-size: 0.8rem;
	color: #4D4D4D;
	text-align: center;
	border-bottom: 0.05rem solid #C1C1C1;
	margin-left: 0.1rem;
}
.password ul li:nth-child(5){
	font-size: 0.5rem;
}
/* 输入密码结束 */

/* 密码按键开始 */
.button{
	width: 100%;
	height: 7.2rem;
}
.button ul{
	width: 100%;
	height: 1rem;
	display: flex;
	/* 定义主轴上的排列方式 */
	justify-content: space-around;
	margin-bottom: 0.8rem;

}
.button ul li{
	width: 1.4rem;
	height: 1.4rem;
	background-image: url('../img/passward 2.png');
	background-size: cover;
	background-position: center;
	font-size: 0.42rem;
	color: #f9bc19;
	text-align: center;
	line-height: 1.4rem;
}
.button ul li img{
	width: 0.4rem;
	height: 0.3rem;
}
.button ul li a{
	color: #f9bc19;
}